$link-color-nav: #353535;
$dark-medium-gray: rgb(62, 62, 62);
$medium-gray: #797979;
$light-gray: #A1A1A1;
$lighter-gray: #e9e9e9;
$lightest-gray: rgb(244, 244, 244);
$green: #2BDE73;
$off-white: #f2f2f2;

@mixin shadow-2 {
  box-shadow: 0 0.9px 4px 0 rgba(0,0,0,0.05);
}
