$nav-link-font: 'Montserrat', 'Open Sans', sans-serif;
$head-font: 'Montserrat', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$standard-font: 'Montserrat', 'Open Sans', 'Helvetica Neue';
