.navbar{
  display: flex;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  height: 65px;
  @include shadow-2;
  position: fixed;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;

  padding: 1.8em 3.6em;
  z-index: 10;
  background-color: white;
}

.leftnav{
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
}

.rightnav{
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.centernav{
  flex: 1;
  justify-content: center;
  .logo{
    height: 20px;
    float: left;
    display: inline-block;
    z-index: 50;
  }
}

.impetus-logo-text{
  display: inline-block;
}

#start-a-project{
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  color: #fff;
  background-color: #000;
  border: 1.1px solid #000;
  height: 44px;
  line-height: 42px;
  z-index: 100;
  transition: opacity .3s cubic-bezier(.694,0,.335,1);
  padding: 0 2.2em;
}

#start-a-project:hover{
  background-color: $button-hover;
}
#start-a-project:active{
  padding: 1px 2.2em 0 2.2em;
}

.leftnav *{
  margin-right: 1.5em;
}

.rightnav *{
  margin-left: 1.5em;
}

.site-nav-item {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  color: $link-color-nav;
  text-decoration: none;
  overflow: hidden;
  font-size: 12px;
  font-family: $nav-link-font;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

a {
  font-family: 'Roboto', sans-serif;
  color: $link-color-nav;
}

@media all and (max-width: 725px){
  .rightnav{
  display: none;
  }
  .leftnav *{
  margin-right: 1em;
  }
  .centernav{
    display: none;
  }
  .navbar{
    justify-content: center;
  }
}
