.project-form-page{
  display: flex;
  position: relative;
  background-color: $off-white;
  height: 100%;
}

#project-form-contents{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.fade-div-appear {
  opacity: 0.01;
}


.project-errors{
  font-size: 12px;
  font-weight: 400px;
  font-family: $standard-font;
  text-align: center;
  color: red;
}
.fade-div-appear.fade-div-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}


.project-form-head{
  height: 30vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  font-family: inherit;
  justify-content: space-between;
  margin: 80px 60px 0 60px;
  .hero_head{
    flex-basis: 50%;
    align-self: flex-start;
    margin-top: 0;
    max-width: 50%;
  }
  h1{
    color: #080808;
    font-weight: 500;
    font-size: 44px;
    letter-spacing: .25em;
    text-transform: uppercase;
    line-height: 1.15em;
    margin: 0;
  }
  h2{
    color: $light-gray;
    display: block;
    flex-basis: 50%;
    margin: 0;
    font-size: 14px;
    line-height: 2.5em;
    font-weight: 300;
    letter-spacing: .08em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
  h3{
    font-size: 10px;
    line-height: 1.11111em;
    letter-spacing: .33333em;
    font-weight: 500;
    text-transform: uppercase;
    opacity: .5;
  }
}

.project-form{
  background-color: white;
  flex: display;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 100%;
  padding: 65px;
  letter-spacing: 0.1em;
  input{
    height: 44px;
    padding: 11px 0;
    color: $medium-gray;
    background-color: white;
    border-bottom: 1px solid $medium-gray;
    padding-left: 11px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 0 0 50px 0;
    font-size: 14px;
    font-weight: 300;
    -webkit-appearance: textfield;
    user-select: text;
    cursor: auto;
    font: $nav-link-font;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    letter-spacing: 0.08em;
  }
  textarea{
    @extend input;
    margin-top: 17px;
    line-height: 1.8em;
  }
  select{
    @extend input;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }
  input:focus {
    color: black;
  }
  label, #dropzone-section-label{
    font-size: 14px;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
  }
}

.submit_div{
  display: flex;
  justify-content: center;
  button{
    color: $link-color-nav;
    border: 2px solid $link-color-nav;
    padding: 20px;
    font-weight: 500;
    font-size: 14px;
    font-family: $standard-font;
    letter-spacing: .08em;
    text-transform: uppercase;
    transition: border 2s color 2s font-size 2s;
    -webkit-transition: border color font-size 2s;
  }
  button:disabled{
    border-color: $light-gray;
    color: $light-gray;
    cursor: default;
  }
  button:active{
    padding: 21px 20px 19px 20px;
    border-color: $medium-gray;
    color: $medium-gray;
    cursor: pointer;
  }
}

#dropzone-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0 25px 0;
  img{
    margin: 20px 20px 20px 20px;
    width: 300px;
    height: auto;
    position: relative;
  }
}

#dropzone:hover{
  border: 1px solid $medium-gray;
  margin-bottom: 19px;
  background-color: $lightest-gray;
  cursor: pointer;
}

#dropzone{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 20px 0 20px 0;
  border: 1px solid $lightest-gray;
  p{
    margin: 30px 10px 20px 10px;
    font-size: 0.6em;
    font-weight: 300;
    text-transform: none;
    color: $light-gray;
    text-align: center;
  }
}



@media(max-width: 1400px){
  .project-form-head{
    h2{
      margin-left: 100px;

    }
  }
}

@media(max-width: 1100px){
  .project-form-head{
    h2{
      display: none;
    }
  }
}

@media(min-width: 750px){
  .project-form-head{
    .h1{
      font-size: 24px;
      line-height: 1.666667em;
      letter-spacing: .2083em;
    }
  }
}

@media(max-width: 600px){
  .project-form-head{
    h1{display: none;}
  }
}
