.project-show-page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 40px;
  margin-right: 40px;
  img{
    width: 50%;
    height: auto;
  }
  h1{
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  #delete{
    font-size: 11px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    font-family: $nav-link-font;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
}

.title-bar{
  margin-top: 130px;
}
