.project-show-page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 75px;
  margin-right: 40px;
  img{
    width: 100%;
    height: auto;
  }
  h1{
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  #delete{
    font-size: 11px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    font-family: $nav-link-font;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
  .image-and-stats{
    display: flex;
    justify-content: flex-start;
  }
  .image{
    display: inline-block;
    width: 800px;
  }
  .stats{
    display: inline-block;
    width: 20%;
  }
}

.project-title-bar{
  margin-top: 135px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.title-description{
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  h1{
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    opacity: 0.8;
  }
  h2{
    font-size: 15px;
    font-weight: 300;
    color: $medium-gray;
  }
}

.author-button{
  display: flex;
  flex-direction: column;
  .author{
    margin-bottom: 12px;
    color: $light-gray;
  }
}
.project-stats{
  margin-left: 50px;
}
