.project-show-page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 75px;
  margin-right: 75px;
  img{
    width: 100%;
    height: auto;
  }
  .image-and-stats{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
  }
  .image{
    display: inline-block;
    width: 790px;
  }
  .stats{
    display: inline-block;
    width: 15%;
  }
}

.project-title-bar{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px
}

.title-description{
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  h1{
    font-weight: 500;
    letter-spacing: 0.09em;
    font-size: 22px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 10px
  }
  h2{
    font-size: 13px;
    color: $dark-medium-gray;
    margin-right: 200px;
    font-weight: 300;
    letter-spacing: 0.06em;
  }
  .author{
    margin-bottom: 11px;
    font-weight: 300;
    font-size: 10px;
    color: $light-gray;
  }
}

.edit-buttons{
  #delete, #addrewards{
    @include standard-black-button();
    font-size: 11px;
    font-weight: 500;
    background-color: $dark-medium-gray;
    width: 150px;
    letter-spacing: 0.15em;
    text-align: center;
    margin-bottom: 15px;
  }
  #delete:hover, #addrewards:hover{
    background-color: black;
  }
}


.project-edit-button-div{
  display: flex;
  flex-direction: column;
  width: 250px;
}
.project-show-stats{
  margin-left: 40px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 13px;
  letter-spacing: 0.06em;
  color: $light-gray;
  font-weight: 300;
  .bolded{
    font-size: 24px;
    font-weiht: 400;
    margin-bottom: 5px;
    color: $dark-medium-gray;
  }
  span{
    margin-top: 35px;
  }
  .line{
    margin-bottom: 30px;
  }
  #back-project-button{
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .11em;
    line-height: 1em;
    margin-top: 65px;
    padding: 1.8em 3.6em;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    -webkit-appearance: none;
    color: #000;
    background-color: transparent;
    background-size: cover;
    box-sizing: border-box;
    transition: opacity .3s;
    border: 1.1px solid #000;
    transition-property: opacity, background-color, color;
    transition-duration: 0.3s, 0.3s, 0.3s;
    transition-timing-function: cubic-bezier(0.694, 0, 0.335, 1), cubic-bezier(0.694, 0, 0.335, 1), cubic-bezier(0.694, 0, 0.335, 1);
    transition-delay: initial, initial, initial;

  }
  #back-project-button:hover{
    border-color: $dark-medium-gray;
    border-width: 2px;
    background-color: $dark-medium-gray;
    color: white;
    font-weight: 500;
  }
}

.details{
  width: 675px;
  padding-right: 35px;

  h2{
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 300;
  }
}

.details-rewards{
  color: $dark-medium-gray;

  h1{
    font-size: 21px;
    margin-bottom: 25px;
  }
  margin: 10px 35px 0 35px;
  display: flex;
  justify-content: flex-start;
}

.rewards{
  width: 275px;
  margin-left: 40px;
}
