// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.parallax-bg{
  display: block;
  background-image: url("http://res.cloudinary.com/noah-s-kang/image/upload/v1500998086/mountainer-reversed_ugn9ke.jpg");
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1{
    font: inherit;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.46875em;
    letter-spacing: .203125em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    margin-bottom: 11px;
    background-size: cover;
    box-sizing: border-box;
    max-width: 40vw;
  }
  h2{
    opacity: .7;
    max-width: 400px;
    font-weight: 300;
    letter-spacing: normal;
    text-transform: none;
    box-sizing: border-box;
    font: inherit;
    font-size: 13px;
    line-height: 2em;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
}

.title-caption{
  position: absolute;
  margin-left: 20px;
  right: 50%;
  top: 40%;
  margin: 20px 20px 20px 20px;
}

.projects-index-section{
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  h1{
    font: inherit;
    color: $medium-gray;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.2vh;
    line-height: 1.46875em;
    letter-spacing: .203125em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    margin-bottom: 11px;
    background-size: cover;
    box-sizing: border-box;
    max-width: 60vw;
    margin-bottom: 50px;
  }
}

.projects-index{
  z-index: 2000;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  ul{
    right: 50px;
    left: 50px;
    display: block;
  }
  h1{
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
  }
}



.project-index-item{
  width: 400px;
  height: 500px;
  margin: 20px 20px 20px 20px;
  border: 1px solid #e6e6e6;
  box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
  transition: all 0.2s ease-in-out;
  img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-bottom: 1px solid #e6e6e6;
  }
}

.project-info{
  box-sizing: border-box;
  padding: 25px 30px 25px 30px;
  font-family: $standard-font;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.06em;
  line-height: 1.7em;

  .category{
    text-transform: capitalize;
    color: $medium-gray;
    margin-bottom: 15px;
  }
  .title{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
  }
  .description{
    color: $light-gray;
    font-size: 14px;
    font-weight: 200;
  }
  .creator{
    margin-top: 12px;
  }
}

.project-stats{
  margin-top: 15px;
  margin-bottom: 15px;
  color: $light-gray;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .bolded{
    color: black;
    font-weight: 500;
  }
}

@media all and (max-width: 1250px){
  .title-caption{
    h1{
      font-size: 4vh;
    }
  }
}

@media all and (max-width: 750px){
  .title-caption{
    h1{
      display: none;
    }
    h2{
      display: none;
    }
    #start-a-project{
      display: none;
    }
  }
}
