.reward-index-item{
  background-color: $lightest-gray;
  margin-bottom: 15px;
  padding: 10px 10px 10px 10px;
  font-weight: 300;
  font-family: $standard-font;
  font-style: none;
  letter-spacing: 0.03em;
  h4{
    color: #586BE9;;
    font-size: 14px;
    margin-bottom: 10px;
  }
  h1{
    font-size: 14px;
    font-weight: 500;
    color: $dark-medium-gray;
    margin-bottom: 5px;
    margin-bottom: 10px;
  }
  h2{
    font-size: 12px;
    color: $medium-gray;
    margin-bottom: 5px;
  }

}

.reward-index-item:hover{
  color: #586BE9;
}
