
.search-bar{
  margin-top: 45px;
  display: flex;
  margin-left: 50%;
  margin-right: 50%;
  justify-content: flex-start;
  width: 500px;
  #search-input{
    width: 60%;
  }
  #search-button{
    position: absolute;
    margin-left: 270px;
    border-bottom: 1px solid $medium-gray;
    height: 40px;
    width: 35px;
    border: none;
  }
}

#search-input::placeholder{
  font-size: 11px;
  line-height: 24px;
  font-weight: 300;
  position: relative;
  color: $link-color-nav;
  text-decoration: none;
  overflow: hidden;
  font-family: $nav-link-font;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
